<!DOCTYPE html>
<html>
<head>
<title>Hamza Ratrout</title>
<ul>
<li><a href="" class="button">HOME</a></A>

<li><a class="button" id="active">ABOUT ME</a></li>
<li><a href="/hob" class="button">HOBBIES</a></li>
<li style = "float:right"><a  href="https://www.facebook.com/hamza.ratrout.92" class="button" id ="right" >CONTACT</a></li>
</ul>
<link rel="stylesheet" href="{{ url_for('static', filename='aboutme.css') }}">
<img src="{{ url_for('static', filename='hamza.jpg') }}"> 
</head>
<body>
<p>Well as I told you before I'm Hamza Ratrout<br>I'm from Nablus and I study in Holy Quran Academy<br>I live in an Ordinary family of a three brothers<br> and no sisters<br>as you have probably noticed..my favorite color is green<br>and this section is going to be just about me <br>things I've accomplished..things I'm proud of..<br>funny facts about me..maybe funny situations..<br>some information about my social or academic life<br>well.. let's not speak too much go ahead and read!<br>hope you enjoy..</p>
<a href="/pick" class="button2">PAGES</a>
<a href="/aboutme2" class="button2">NEXT!</a>



</body>




</html>
