<!DOCTYPE html>
<html>
  <head>
    <title>Buggy Code Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  <form action = "/sign" method = 'POST'>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Email address:<br>
  <input type="text" name="email"><br>
  A message:<br>
  <input type="text" name= "message"><br>
  <input type="submit" name= "send"><br>
  
 {%block content%}{%endblock%}

</form>
  </body>
</html>