<!DOCTYPE html>
<html>
<head>
<title>Hamza Ratrout</title>
<link rel="stylesheet" href="{{ url_for('static', filename='aboutme.css') }}">
<ul>
<li><a href="" class="button">HOME</a></li>
<li><a href="/about"class="button" >ABOUT ME</a></li>
<li><a class="button" id="active">HOBBIES</a></li>
<li style = "float:right"><a  href="https://www.facebook.com/hamza.ratrout.92" class="button" id ="right" >CONTACT</a></li>
</ul>
<img src="{{ url_for('static', filename='cubes.jpg') }}">
<!-- <img id ="timer" src="/home/code/Desktop/photos/timer.png"> -->

</head>
<body>
<p>Well I think I don't have a lot of hobbies <br>but I'm obsessed with solving rubik's cubes<br>I can solve 10 different kinds of them<br> and it's so nice<br>another thing I'm totally obsessed of is my ps4<br> I used to spend hours playing games...<br>well that was before this camp..now I just spend my time<br> on my phone and cubes<br>well maybe just for the next 2 weeks<br>OH <br>last thing I love...spending time on is netflix..</p>
<a href="/pick" class="button2">PAGES</a>
<a href="/aboutme2" class="button2">NEXT!</a>



</body>




</html>
