<!DOCTYPE html>
<html>
<title>Hamza Ratrout</title>
<head>
<div>
<img id="my"src="{{ url_for('static', filename='hamzame.jpg') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mypage.css') }}">

</div>
<div>
<h1>Welcome!!</h1>
</div>
</head>
<body>
<p>Welcome to my page ...<br>Im 15 years old,Im in tenth grade<br> and my name is Hamza Ratrout<br>this page is going to talk about different things like <br>my hobbies,the things I like <br>and other things..<br>so ARE YOU READY?</p>
<a href="/rnd.html" class="button">YES I AM!!</a>




</body>

</html>